.pgprincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 80px;
    margin: 0px;
    padding: 250px 0 200px;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
    font-weight: 100;
    background-image: url("image.png");
    background-position: center 30px;
    background-size: 100% auto;
    overflow-x: hidden;
    background-repeat: no-repeat;
    aspect-ratio: 1;
}
.cabecao{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(255, 236, 245);
    z-index: 9997;
    box-sizing: border-box;
}
.cabeca{
    grid-template-columns: 95px 1fr 114px 104px;
    padding: 20px 32px;
    column-gap: 20px;
    display: grid;
    align-items: center;
    max-width: 100% !important;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;

}
.logo {
    width: 90px;
    height: auto;
    justify-self: start;
    
    
  }
.navegacao{
    display: flex;
    box-sizing: border-box;

}
.btnnavegacao{
    padding: 0 30px;
    font-weight: 400;
    background: transparent;
    color: black;
    font-size: 1rem;
    line-height: 1.25rem;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    margin: 10px 20px;
    height: 50px;
    transition: .1s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    left: 400px;
}
.name{
    font-size: 3.5rem;
    line-height: 30%;
}
.descrition{
    font-size: 1.1rem;
    font-weight: 300;
}
h1{
    display: grid;
    justify-content: center;
    place-items: center;
    font-family:'Times New Roman', Times, serif;
}
form{
    display: flex;
    place-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 30px 0;
    width: 400px;
    height: 35px;
    
}
#buscar{
    background-color: rgb(255, 145, 200);
    color: black;
    height: 35px;
    width: 100px;
    border-radius: 100px;
    cursor: pointer;
    border: none;

}
#endereco{
    width: 500px;
    height: 35px;
    font-size: 16px;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: none;
}
 
#caixa_texto{
    border-radius: 100px;
    border: 1px solid #000;
    width: 500px;
    height: 35px;
    font-size: 16px;
    margin-right: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
.botoes{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 700px;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    border-radius: 100px;
    gap: 10px;
}
.botoes button{
    background-color: transparent;
    border: 1px solid #eee;
    color: #555;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#titulo{
    font-family: "DM serif Display", serif;
    font-weight: 400;
    font-style: italic;
}